<app-layout>
  <div class="container">
    <div class='aligner-top'  style="background: green; border: 1px solid;">
      <p>Hello world</p>
    </div>
    <div class='aligner-center' style="background: green; border: 1px solid;">
      <p>hello awesome</p>
    </div>
    <div style="background: green; border: 1px solid;">
      <p>hello awesome 3</p>
    </div>


    <div class='aligner-top'  style="background: green; border: 1px solid;">
      <p>Hello world</p>
    </div>
    <div class='aligner-center' style="background: green; border: 1px solid;">
      <p>hello awesome</p>
    </div>
    <div style="background: green; border: 1px solid;">
      <p>hello awesome 3</p>
    </div>


    <div class='aligner-top'  style="background: green; border: 1px solid;">
      <p>Hello world</p>
    </div>
    <div class='aligner-center' style="background: green; border: 1px solid;">
      <p>hello awesome</p>
    </div>
    <div style="background: green; border: 1px solid;">
      <p>hello awesome 3</p>
    </div>



    <div class='aligner-top'  style="background: green; border: 1px solid;">
      <p>Hello world</p>
    </div>
    <div class='aligner-center' style="background: green; border: 1px solid;">
      <p>hello awesome</p>
    </div>
    <div style="background: green; border: 1px solid;">
      <p>hello awesome 3</p>
    </div>
  </div>
  
</app-layout>
