<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side" class="app-sidenav" opened="true">
    <div class="center">
      <div>
        <span>Ajax</span>
      </div>
      <div>
        <span>Clueless2</span>
      </div>
      <div>
        <span>Clueless3</span>
      </div>
      <div>
        <span>Clueless4</span>
      </div>
    </div>
  </md-sidenav>

  <!--<md-toolbar color="primary" class="toolbar">
    toolbar content
  </md-toolbar>-->
  <div>
    Main content
  </div>
</md-sidenav-container>