<!--<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side" class="app-sidenav" opened="true">
    <div class='logo'>
      <img src="../../assets/img/logo.svg" alt="ccss labs" />
    </div>
    <ul class="sidebar-menu">
      <li>
        <img src="../../assets/img/zoom.svg" alt="">
        <input id='menu-search' type="text" name="search" value="" placeholder="Search Menu"/>
      </li>
      <li>
        <img src="../../assets/img/ajax-core.svg" alt="core">
        <a [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li>
        <img src="../../assets/img/data.svg" alt="data">        
        <a [routerLink]="['/dashboard', 'stats']">Dashboard Stats</a>
      </li>
      <li>
        <img src="../../assets/img/panel.svg" alt="panel">        
        <a [routerLink]="['/chat']">Chat</a>        
      </li>
      <li>
        <img src="../../assets/img/overlay.svg" alt="overlay">        
        <a routerLink="/overlay">CCSS Labs 4</a>        
      </li>
    </ul>
  </md-sidenav>
    
</md-sidenav-container>-->
<div class="content">
    <ng-content></ng-content>
</div>
